<div class="container-fluid">
  <div class="row sidebar">
    <button class="btn btn-primary" (click)="OnChange()">
      {{ showFiller ? "Open" : "Close" }}
    </button>

    <ul class="nav nav-pills" *ngIf="!showFiller">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/products"
          >Products</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/users"
          >Users</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/posts"
          >Posts</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/carts"
          >Carts</a
        >
      </li>
    </ul>
  </div>

  <div class="row full-width">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
