<table class="table mb-0">
  <thead>
    <tr>
      <!-- <th scope="row">{{ data.id }}</th> -->
      <th>ID-Main</th>
      <th>ID</th>
      <th>Title</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
      <th>Discount Percentage</th>
      <th>Discount Price</th>
    </tr>
  </thead>
  <tbody *ngFor="let data of obs | async">
    <tr *ngFor="let prod of data.products">
      <td>{{ data.id }}</td>
      <td>{{ prod.id }}</td>
      <td class="title">{{ prod.title }}</td>
      <td class="number">{{ prod.price }}</td>
      <td class="number">{{ prod.quantity }}</td>
      <td class="number">{{ prod.total }}</td>
      <td class="number">{{ prod.discountPercentage }}</td>
      <td class="number">{{ prod.discountedPrice }}</td>
    </tr>
  </tbody>
</table>
<div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"> </mat-paginator>
</div>
